/* CSS Tree menu styles */
ol.tree {
    padding: 0 0 0 0;
}

ol.tree li {
    list-style: none;
    margin-left: -15px;
    position: relative;
}

ol.tree li.file { margin-left: -1px; }

ol.tree li.file a {
    display: block;
    padding-left: 0px;
    text-decoration: none;
}

ol.tree li input {
    cursor: pointer;
    height: 1.1em;
    left: 0;
    margin-left: 0;
    opacity: 1;
    position: absolute;
    top: 8px;
    width: 1.1em;
    z-index: 2;
}

ol.tree li input + ol {    
    background: 20px 0 no-repeat;
    height: 1.2em;
    margin: -1.5em 0 0 44px;
}

ol.tree li input + ol > li { 
    /* here */   
    display: none;
    margin-left: -14px;
    padding-left: 1px;
}

ol.tree li label {
    cursor: pointer;
    display: block;
    padding-left: 17px;
}

ol.tree li input:checked + ol {
    /* here */
    background: 20px 5px no-repeat;
    height: auto;
    margin: -1em 0 5px -44px;
    padding: 0.5em 0 0 80px;
}

ol.tree li input:checked + ol > li {
    display: block;
    margin: 0 0 0.125em; /* 2px */
}

ol.tree li input:checked + ol > li:last-child {
    margin: 0 0 0.063em; /* 1px */
}

ol.tree li input {
    display: none;
}